In [1]:
import pandas as pd

In [2]:
events_df = pd.read_csv('data/events.csv')
events_df.head()

,event_name,start_date_time,end_date_time,event_type,event_borough,event_location
0,New York Mets vs Arizona Diamondbacks,2022-04-15 13:10:00,2022-04-15 16:14:00,Sport - MLB,Queens,Citi Field
1,New York Mets vs Arizona Diamondbacks,2022-04-16 13:10:00,2022-04-16 16:14:00,Sport - MLB,Queens,Citi Field
2,New York Mets vs Arizona Diamondbacks,2022-04-17 13:40:00,2022-04-17 16:44:00,Sport - MLB,Queens,Citi Field
3,New York Mets vs San Francisco Giants,2022-04-18 19:10:00,2022-04-18 22:14:00,Sport - MLB,Queens,Citi Field
4,New York Mets vs San Francisco Giants,2022-04-19 15:10:00,2022-04-19 18:14:00,Sport - MLB,Queens,Citi Field

In [3]:
# convert start and edn time to datemtime 
events_df['start_date_time'] = pd.to_datetime(events_df['start_date_time'], errors='coerce')
events_df['end_date_time'] = pd.to_datetime(events_df['end_date_time'], errors='coerce')

events_df.info()
display(events_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413817 entries, 0 to 413816
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   event_name       413817 non-null  object
 1   start_date_time  364 non-null     datetime64[ns]
 2   end_date_time    364 non-null     datetime64[ns]
 3   event_type       413816 non-null  object
 4   event_borough    413816 non-null  object
 5   event_location   413816 non-null  object
dtypes: datetime64[ns](2), object(4)
memory usage: 18.9+ MB

,event_name,start_date_time,end_date_time,event_type,event_borough,event_location
0,New York Mets vs Arizona Diamondbacks,2022-04-15 13:10:00,2022-04-15 16:14:00,Sport - MLB,Queens,Citi Field
1,New York Mets vs Arizona Diamondbacks,2022-04-16 13:10:00,2022-04-16 16:14:00,Sport - MLB,Queens,Citi Field
2,New York Mets vs Arizona Diamondbacks,2022-04-17 13:40:00,2022-04-17 16:44:00,Sport - MLB,Queens,Citi Field
3,New York Mets vs San Francisco Giants,2022-04-18 19:10:00,2022-04-18 22:14:00,Sport - MLB,Queens,Citi Field
4,New York Mets vs San Francisco Giants,2022-04-19 15:10:00,2022-04-19 18:14:00,Sport - MLB,Queens,Citi Field

In [4]:
# get unuique values of event type
events_df['event_type'].unique()

array(['Sport - MLB', 'Sport - Youth', 'Sport - Adult', 'Special Event',
       'Religious Event', 'Street Event', 'Parade',
       'Theater Load in and Load Outs', 'Production Event',
       'Shooting Permit', 'Farmers Market', 'Plaza Event',
       'Athletic Race / Tour', 'Open Culture', 'Plaza Partner Event',
       'Sidewalk Sale', 'Block Party', 'Filming/Photography', 'Rally',
       'Athletic - Charitable', 'Marathon', 'Single Block Festival',
       'Street Festival', nan, 'Holiday'], dtype=object)

In [5]:
# keep mlb for now
events_df = events_df[events_df['event_type'] == 'Sport - MLB']
display(events_df.head())
events_df.shape

,event_name,start_date_time,end_date_time,event_type,event_borough,event_location
0,New York Mets vs Arizona Diamondbacks,2022-04-15 13:10:00,2022-04-15 16:14:00,Sport - MLB,Queens,Citi Field
1,New York Mets vs Arizona Diamondbacks,2022-04-16 13:10:00,2022-04-16 16:14:00,Sport - MLB,Queens,Citi Field
2,New York Mets vs Arizona Diamondbacks,2022-04-17 13:40:00,2022-04-17 16:44:00,Sport - MLB,Queens,Citi Field
3,New York Mets vs San Francisco Giants,2022-04-18 19:10:00,2022-04-18 22:14:00,Sport - MLB,Queens,Citi Field
4,New York Mets vs San Francisco Giants,2022-04-19 15:10:00,2022-04-19 18:14:00,Sport - MLB,Queens,Citi Field

(342, 6)

In [6]:
# get unique values of event locatoin
events_df['event_location'].unique()

array(['Citi Field', 'Yankee Stadium'], dtype=object)

In [7]:
# city field gps 40° 45' 26.1216'' N and 73° 50' 46.4532'' W.
# yankee stadium  40° 49' 46.7724'' N and 73° 55' 34.2696'' W.

# for temp use.  must get gps cordiantes for each event if possible

city_field = (40.757256, -73.846237)
yankee_stadium = (40.829659, -73.926186)

# add gps column
events_df['gps'] = events_df['event_location'].apply(lambda x: city_field if x == 'Citi Field' else yankee_stadium)
events_df.head()

,event_name,start_date_time,end_date_time,event_type,event_borough,event_location,gps
0,New York Mets vs Arizona Diamondbacks,2022-04-15 13:10:00,2022-04-15 16:14:00,Sport - MLB,Queens,Citi Field,"(40.757256, -73.846237)"
1,New York Mets vs Arizona Diamondbacks,2022-04-16 13:10:00,2022-04-16 16:14:00,Sport - MLB,Queens,Citi Field,"(40.757256, -73.846237)"
2,New York Mets vs Arizona Diamondbacks,2022-04-17 13:40:00,2022-04-17 16:44:00,Sport - MLB,Queens,Citi Field,"(40.757256, -73.846237)"
3,New York Mets vs San Francisco Giants,2022-04-18 19:10:00,2022-04-18 22:14:00,Sport - MLB,Queens,Citi Field,"(40.757256, -73.846237)"
4,New York Mets vs San Francisco Giants,2022-04-19 15:10:00,2022-04-19 18:14:00,Sport - MLB,Queens,Citi Field,"(40.757256, -73.846237)"

In [8]:
# export to cleaned csv mlb 
events_df.to_csv('data/Cleaned_data/events_mlb-cleaned.csv', index=False)